@import "tailwindcss";

@theme {
  --color-background: #131313;
  --color-foreground: #FFFFFF;

  --color-yellow: #FFD400;
  --color-green-light: #47F945;
  --color-indigo: #8680FF;
  --color-blue: #4A72FF;
  --color-red: #FF0000;
  --color-green-dark: #00802C;
  --color-muted-background: #1C1C1C;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
