@import "tailwindcss";

@theme {
  --color-background: #f1f7ed;
  --color-foreground: #243e36;

  --color-primary: #7ca982;
  --color-secondary: #e0eec6;
  --color-accent: #c2a83e;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  @theme {
    --color-background: #f1f7ed;
    --color-foreground: #243e36;

    --color-primary: #7ca982;
    --color-secondary: #1f2e28;
    --color-accent: #c2a83e;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
